<!--
 * @Author: joker.zhang
 * @Date: 2019-06-28 15:17:47
 * @LastEditors: joker.zhang
 * @LastEditTime: 2019-07-02 17:39:13
 * @Description: For Automation
 -->
 <html>
     <head>
         <title>Django Page</title>
     </head>
     <body>
         <h1>发布会管理</h1>
         <form method="POST" action="/login_action/">
            <input name="username" type="text" placeholder="username"><br>
            <input name="password" type="text" placeholder="password"><br>
            {{error}}<br>
            <button id="btn" type="submit">login</button>
            {% csrf_token %}
        </form>

     </body>

 </html>
